# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables
.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# SNIIV raw data
data/raw/

# SNIIV processed data
data/processed/
